/* IMPORTACIÓN DE FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&display=swap');

:root {
    --blanco-mate: #F5EFE6;
    --rosa-tostado: #E8DFCA;
    --verde-marino: #7895B2;
    --verde-marino-oscuro: #00A9B0;
    --gris-marino: #AEBDCA;
    --esmeralda-oscuro: #1E3D58;
    --celeste: #B8E8FC;
    --azul-francia: #2146C7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

button:hover, a:hover {
    cursor: pointer;
}

/* CONFIGURACIÓN CON GRID LAYOUT */

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

ul {
    list-style: none;
}

/* ESTILO DEL HEADER */

header {
    font-weight: bold;
    font-family: "Lato", sans-serif;
    border-bottom: solid var(--gris-marino) 1px;
}

header a {
    text-decoration: none;
}

address {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: var(--verde-marino);
    color: white;
    font-style: normal;
}

address ul {
    display: flex;
}

address li {
    margin: 0 10px;
}

address a {
    color: white;
}

address a:hover {
    color: var(--esmeralda-oscuro)
}

nav {
    padding: 5px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    "logo titulo   btn-iniciar-sesion"
    "logo botonera botonera";
    background-color: var(--blanco-mate);
}

nav > * {
    display: flex;
    align-items: center;
    padding: 5px;
}

nav > a {
    grid-area: logo;
}

#img-logo {
    max-height: 100px;
}

h1 {
    grid-area: titulo;
}

#botonera {
    grid-area: botonera;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.2em;
}

#botonera > li {
    flex-grow: 1;
}

.btn-menu {
    text-align: center;
    box-shadow: 0 0 3px black;
    padding: 0.5em 0.5em;
    background: linear-gradient(180deg, var(--gris-marino) 0%, var(--celeste) 100%);
    transition: color 0.25s ease-in-out, background 0.50s ease-in-out;
} 

.btn-menu a {
    color: inherit;
}

.btn-menu:hover {
    color: white;
    background: linear-gradient(180deg, var(--verde-marino) 0%, var(--rosa-tostado) 100%);
}

#btn-iniciar-sesion {
    display: block;
    margin: 5px;
    grid-area: btn-iniciar-sesion;
    font-weight: bold;
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    address {
        font-size: 0.8em;
    }
}

/* CONFIGURACIÓN MOBILE */

#btn-hamburguesa {
    display: none;
    grid-area: btn-hamburguesa;
    margin-right: auto;
    flex-direction: column;
    justify-content: space-around;
    width: 45px;
    height: 45px;
    background-color: var(--verde-marino);
    border-radius: 5px;
    padding: 10px;
}

#btn-hamburguesa hr {
    width: 25px;
    height: 3px;
    border-radius: 2px;
    background-color: white;
    transition: transform 0.5s;
}

#btn-hamburguesa.abierto {
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#btn-hamburguesa.abierto hr {
    position: absolute;
}

#btn-hamburguesa.abierto ~ #botonera {
    display: flex;
    transform-origin: top;
    animation-direction: alternate;
    animation-name: abrir-botonera;
    animation-duration: 0.5s;
}

@keyframes abrir-botonera {
    from {transform: scale(1, 0);}
    to {tranform: scale(1, 1);}
}

#btn-hamburguesa.abierto hr:nth-child(1) {
    transform: rotate(45deg);
}

#btn-hamburguesa.abierto hr:nth-child(2) {
    display: none;
}

#btn-hamburguesa.abierto hr:nth-child(3) {
    transform: rotate(-45deg);
}

@media screen and (max-width: 590px) {
    address, h1 {
        justify-content: center;
    }

    nav {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr repeat(2, auto);
        grid-template-areas:
        "logo               titulo"
        "btn-hamburguesa btn-iniciar-sesion"
        "botonera        botonera";
    }

    #img-logo {
        max-height: 50px;
    }
      
    #btn-hamburguesa {
        display: flex;
    }

    #btn-iniciar-sesion {
        width: 100%;
        margin: 2px 0;
    }

    h1 {
        font-size: max(0.918em, 4vw);
    }
    
    #botonera {
        display: none;
        flex-direction: column;
        align-items: stretch;
        position: relative;
        padding: 0;
        margin-top: 5px;
        background: linear-gradient(180deg, rgba(117,230,218,1) 0%, rgba(5,68,94,1) 100%);;
    }
    
    #botonera .btn-menu {
        font-size: 0.8em;
        background: transparent;
        box-shadow: none;
    }

    #informacion {
        background-color: var(--esmeralda-oscuro);
        text-align: center;
        color: white;
        font-size: 0.65em;
        padding: 10px;
    }

    #informacion > * {
        padding: 5px;
    }
}

/* ESTILO DEL MAIN */

main {
    background-color: var(--blanco-mate);
    padding: 3vw;
    font-size: min(1.2em, 2.5vw);
    font-family: 'Quicksand', sans-serif;
}

.articulo-generico {
    margin-top: 20px;
    padding: min(5vw, 20px) 10px;
    border-top: solid var(--gris-marino) 1px;
}

.articulo-generico h2 {
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, var(--gris-marino), var(--azul-francia)) 1;
}

.articulo-generico p {
    font-size: 1.1em;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}